# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: IAPR TC10/11 Resources website
email: tc101-demo(at)googlegroups.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://tc101-demo.github.io"
twitter_username: FIXME
github_username:  tc101-demo
encoding: UTF-8
# GitHub enforced settings
lsi: false
safe: true
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
# other kramdown configuration
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links



include:
  - .htaccess
  - _pages

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
excerpt_separator: "\n\n"


collections:
  datasets:
    output: true
    permalink: /:collection/:path
    # layout: dataset_page  # this does not work
  news:
    output: true

# Default layout cannot be configured in 'collections' variable apparently,
# so we use defaults instead to avoid specifying the layout in the front matter
# of each dataset page
defaults:
  - 
    scope: 
      path: "_datasets/"
    values:
      layout: dataset_page

# Custom variables
# =====================================================================
# (Can be used in templates using 'site.[VARIABLE]'.)

# Used to generate "Edit this page" links
github_edit_base_url: https://github.com/TC101-demo/TC101-demo.github.io/edit/master/
