<div class="well">
<h4>Filtering</h4>



{% assign topics = "" | split: ',' %}
{% for dataset in site.dataset_collection %}
    {% if dataset.keywords %}
        {% assign topics = topics | push: dataset.keywords %}
    {% endif %}
{% endfor %}
{% assign topics = topics | uniq %}

<form action="{{ site.baseurl }}/datasets/" method="get">
  <input type="text" name="q">
  <input type="submit" value="Search">
</form>

<br>
<br>

<h4>TAG list</h4>

{% for tag in topics %}
<p><a href="{{ site.url }}{{ site.baseurl }}?tag={{tag}}">{{ tag }}</a></p>
{% endfor %}



</div>

